p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

:root {
    --map--: #FFFFFF;
    --contact-mail--: rgba(255, 255, 255, 0.6);
    --contact-tel--: rgba(255, 255, 255, 0.6);
    --active--: #2196f3;
    --header-contact--:#757575;
    --header-background: #FFF;
    --hero--:#2F303A;
    --hero-title--: #FFF;
    --about-text---:#212121;
    --about-text-items:#757575;
    --btn-portfolio--:#212121;
    --background-photo--: #ffffff;
    --background-btn--: #2196F3;
    --menu-color--: #212121;;
    --social-icon--: #AFB1B8;
    --customers-icon-- : #afb1b8;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}


a:link {
    text-decoration: none;
}

a:hover,
a:focus{
    color: var(--active--);
}
.hero-btn:hover,
.hero-btn:focus{
    color: #212121;
}

.btn:active{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*--------------------Header-------------------*/
.header{
    background: var(--header-background);
    border-bottom: 1px solid #ececec;
}

.menu-header {
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-header-left{
    color: #2196F3;
}
.logo-header-right {
    color: #000;
}

.menu-list{
    display: flex;
}

.menu{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 94px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}
.menu-list{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.menu-navigation{
    color: var(--menu-color--);
}


.studio{
    color: var(--active--);
}


.header-contact {
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.header-contact-list {
    display: flex;
    gap: 30px;
}

.header-contact{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-contact-link{
    color:var(--header-contact--);
}

.header-contact-icon {
    margin-right: 10px;
    fill: #757575;
}

.header-contact-link:hover .header-contact-icon,
.header-contact-link:focus .header-contact-icon {
    color: var(--active--);
    fill: var(--active--);
}


/*------------------------Hero------------------*/

.hero-back{
    background-color: var(--hero--);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.40),
        rgba(47, 48, 58, 0.40)),
        url(../images/Img-hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    object-fit: none;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    display: flex;
    align-items: center;

    color: var(--hero-title--);
    font-size: 44px;
    font-weight: 900;
    line-height: 1,36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;  
}
.hero-btn {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--background-btn--);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--hero-title--);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
}

.button{
    margin-bottom: 200px;
}


/*--------------About------------*/
.about {
    margin-top: 94px;
}

.about-list{
    display: flex;
    margin-bottom: 94px;
}

.about-text{
    color: var(--about-text---);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-item-icon {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.about-list-text:not(:last-child){
    margin-right: 30px;
}

.about-text-items {
    color: var(--about-text-items);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.72; /* 171.429% */
    letter-spacing: 0.42px;
}

/*--------------Gallery-------------*/

.gallery-wrap{
    margin-bottom: 94px;
}

.about-gallery{
    display: flex;
}

.gallery-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}
.gallery-items{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    flex-shrink: 0;
}

.gallery-items:not(:last-child){
    margin-right: 30px;
}

.gallery-photo{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

/*------------TEAM------------*/

.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-tex {
    color: var(--about-text---);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.team-list-table {
    display: flex;
    flex-wrap: wrap;
}

.team-list:not(:last-child) {
    margin-right: 30px;
}

.team-list {
    background-color: var(--background-photo--);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
    flex-shrink: 0;
}

.team-photo {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.team-name {
    color: var(--about-text---);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 30px;
}

.team-name-text{
    color: var(--about-text-items);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
}
.team-social-item {
    width: 44px;
    height: 44px;
    display: flex;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill:var(--social-icon--);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #2196F3;
    fill: #ffffff;
    scale: 1.3;
}

/*-------------Customers----------*/
.customers {
    background-color: #FFFFFF;
}

.customers-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-top: 94px;
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 94px;
}

.customers-list-item:not(:last-child) {
    margin-right: 30px;
}

.customers-list-item{
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-item-icon {
    fill: var(--customers-icon--);
}

.customers-list-item:hover,
.customers-list-item:focus {
    color: var(--active--);
}

.customers-item-link:hover .customers-item-icon,
.customers-item-link:focus .customers-item-icon {
    fill: var(--active--);
    color: var(--active--);
}

/*--------------Footer-------------*/
.footer{
    background-color: #2F303A;
}

.footer-list {
    display: flex;
}

.footer-logo{
    padding-top: 60px;
}

.footer-logo-link{
    padding-top: 60px;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.logo-footer-left {
    color: #2196F3;
}

.logo-footer-right {
    color: #FFF;
}

.address{
    margin-top: 20px;
    padding-bottom: 60px;
}

.footer-address-item:not(:last-child){
    margin-bottom: 10px;
}


.map{
    color: var(--map--);
}
.contact-mail{
    color: var(--contact-mail--);
}
.contact-tel{
    color: var(--contact-tel--);
}

.footer-social{
    display: flex;
    margin-left: 70px;
    flex-direction: column;
    margin-top: 72px;
}

.footer-social-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-social-item + .footer-social-item {
    margin-left: 10px;
}

.footer-social-link {
    fill:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-item:hover,
.footer-social-item:focus{
    background-color: #2196F3;
    scale: 1.3;
}


/*----------------------Portfolio---------------------*/


.portfolio{
margin-top: 94px;
margin-bottom: 94px;
}

.studio-active{
    color:var(--menu-color--)
}

.portfolio-active{
    color: var(--active--);
}

.section.btn{
    color: var(--btn-portfolio--);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    background-color: #F5F4FA;
}

.section-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
}

.text-btn{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    font-family: Roboto;
}

.btn{
    border-radius: 4px;
    border-color: 0;
    background: #F5F4FA;
    padding: 6px 24px;
    height: 38px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: none;
    display: flex;
    align-items: center;
}

.btn:not(:last-child){
    margin-right: 8px;
}
.btn:hover,
.btn:focus {
    background-color: var(--active--);
    color: #ffffff;
    scale: 1.15;
}

.gallery-portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-items{
    border-bottom: 1px solid #EEE;
    background: #FFF;
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
}

.title-items{
    color: var(--about-text---);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
    margin-top: 20px;
    padding-left: 24px;
}
.text-items{
    color: var(--about-text-items);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87px; /* 187.5% */
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 24px;
}

.portfolio-items {
    background-color: var(--background-photo--);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}